[tool.poetry]
name = "DeepFriedMarshmallow"
version = "1.1.1"
description = "A plug-and-play JIT implementation for Marshmallow to speed up data serialization and deserialization"
authors = ["Maciej Wilczynski <oss@lupin.rocks>", "Roy Williams <rwilliams@lyft.com>"]
readme = "README.md"
homepage = "https://github.com/mLupine/DeepFriedMarshmallow"
license = "Apache-2.0"
keywords = ["serialization", "rest", "json", "api", "marshal", "marshalling", "deserialization", "validation", "schema"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: Implementation :: PyPy"
]
packages = [{ include = "deepfriedmarshmallow" }]
exclude = ["tests/**/*", "performance/"]

[tool.poetry.dependencies]
python = ">=3.11,<4.0.0"
attrs = ">=17.1.0"
marshmallow = ">=3.13.0,<5.0.0"
six = "^1.16.0"

[tool.poetry.group.dev.dependencies]
protobuf = "^4.24.3"
pytest = "^7.4"
pytest-cov = "*"
pylint = "*"
pytz = "*"
coverage = "*"
ruff = "*"
black = "*"
isort = "*"
tox = "*"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120
target-version = ['py311', 'py312', 'py313']
preview = true

[tool.isort]
profile = "black"

[tool.ruff]
line-length = 120
target-version = "py311"
extend-exclude = [
    "tests/",
    "performance/",
    "**/__init__.py",
]

[tool.ruff.lint]
select = [
    "A",
    "B",
    "C",
    "E",
    "F",
    "G",
    "I",
    "N",
    "Q",
    "S",
    "T",
    "W",
    "ARG",
    "BLE",
    "COM",
    "DJ",
    "DTZ",
    "EM",
    "ERA",
    "EXE",
    "FBT",
    "ICN",
    "INP",
    "ISC",
    "NPY",
    "PD",
    "PGH",
    "PIE",
    "PT",
    "PTH",
    "PYI",
    "RET",
    "RSE",
    "RUF",
    "SIM",
    "TCH",
    "TID",
    "TRY",
    "UP",
    "YTT",
]
extend-ignore = ["BLE001", "PLR0912", "C901", "PGH003", "ARG002", "F821"]
