# Configuration file for pmgrUtils.py and utilsPlus.py

[pmgr]

# When checks are performed, the inputted hutch is cross-referenced against the
# hutches shown below so hutches not on the list will cause the scripts to halt.
# This was done simply because testing was not done on any of the hutches not
# listed although it *should* work with any hutch that is in the parameter
# manager. Simply add the hutch name to the list below to add hutch
# compatibility.
supportedHutches = amo sxr sxd xpp xcs cxi mfx mec det

# This list is intended to allow for the script to handle newer objtypes as the
# pmgr becomes gets used for more devices. The scripts *should* be able to
# handle different objtypes so long as they are in the parameter manager. Simply
# add them to this list for compatibility.
supportedObjTypes = ims_motor
# Note: All of the print statements say motor at the moment. If new devices are
# added, this is something that should be changed though it does not affect the
# performance of the script.
