#step-6.accordion-content {
  padding: 1em;
}

#recordings-list {
  margin-top: 1em;
  list-style-type: none;
  padding-left: 0;
}

#record-bg-btn {
  padding: 0.5em 1em;
  font-size: 1em;
  margin-top: 1em;
  cursor: pointer;
}

#record-bg-status {
  margin-top: 0.5em;
}
