@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 100 700;
  src: url(/static/sitewide/fonts/MaterialSymbolsSharp-VariableFont_FILL,GRAD,opsz,wght.eot); /* For IE6-8 */
  src: url(/static/sitewide/fonts/MaterialSymbolsSharp-VariableFont_FILL,GRAD,opsz,wght.ttf) format('truetype') tech(variations);
}

@font-face {
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  font-weight: 100 700;
  src: url(/static/sitewide/fonts/MaterialSymbolsRounded-VariableFont_FILL,GRAD,opsz,wght.eot); /* For IE6-8 */
  src: url(/static/sitewide/fonts/MaterialSymbolsRounded-VariableFont_FILL,GRAD,opsz,wght.ttf) format('truetype') tech(variations);
}

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url(/static/sitewide/fonts/MaterialSymbolsOutlined-VariableFont_FILL,GRAD,opsz,wght.eot); /* For IE6-8 */
  src: url(/static/sitewide/fonts/MaterialSymbolsOutlined-VariableFont_FILL,GRAD,opsz,wght.ttf) format('truetype') tech(variations);
}

.material-symbols-sharp {
  font-family: 'Material Symbols Sharp';
}

.material-symbols-rounded {
  font-family: 'Material Symbols Rounded';
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
}

.material-symbols-sharp, 
.material-symbols-rounded,
.material-symbols-outlined {
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

