footer {
    color: var(--footer-fg);
}

footer p {
    font-size: 0.8em;
}

footer .sw-heading {
    font-size: 0.85em;
    font-weight: bold;
    margin-top: 7px;
}

.sw-footer-bg {
    background: var(--footer-bg);
}

.sw-footer-alt-bg {
    background: var(--footer-alt-bg);
}

@media screen and (max-width: 768px) {

}

/* Mobile Devices, Phones */

@media screen and (max-width: 480px) {

}
