header .sw-hamburger {
    color: var(--hamburger-fg);
    cursor: pointer;
    display: none;
    font-family: 'Material Symbols Rounded';
    font-size: 24px;
    text-decoration: none;
}

header .sw-logo img {
    max-height: 48px;
    min-height: var(--section-min-height);
    min-width: var(--section-min-height);
}

header .sw-titles {
    color: var(--header-fg);
    min-width: var(--screen-width-inner-ms);
}

header .sw-titles h2 {
    font-size: 1em;
}

header .sw-titles p {
    font-size: 0.75em;
}

header .sw-hamburger:active, header .sw-hamburger:focus {
    outline: 1px dashed white;
}

.sw-header-bg {
    background: var(--header-bg);
}

.sw-header-alt-bg {
    background: var(--header-alt-bg);
}

/* iPads and Tablets */

@media screen and (max-width: 768px) {
    header .sw-hamburger {
        display: block;
    }
}

/* Mobile Devices, Phones */

@media screen  and (max-width: 480px){
    header .sw-hamburger {
        display: block;
    }
}
