html {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: #dbbfef;
    color: #dbbfef;
}

header {
    background-color: #3b224c;
    text-align: center;
    color: #dbbfef;
    padding: 20px;
}

footer {
    background-color: #3b224c;
    text-align: center;
    color: #dbbfef;
    padding: 20px;
}

a {
    color: #eccdba;
}

h1,
h2,
h3 {
    color: #eccdba;
}

ul {
    list-style-type: none;
}

.middle {
    background-color: #3b224c;
    padding: 20px;
}

.space {
    background-color: #dbbfef;
    color: #dbbfef;
    padding: 1px;
}

.scaletext {
    background-color: #3b224c;
    color: #dbbfef;
    font-size: clamp(11px, 1vw, 20px);
}

@media (min-width: 1024px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .body {
        width: 60%;
    }
}
